@use "palette";
@use "screen-sizes";

.landing {
  background-color: palette.$landing-bg;
  color: palette.$heading;
  font-size: 3em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 0.5fr);
  gap: 10px;
  margin-bottom: 100px;
  padding-bottom: 100px;
  height: 100vh;

  @media only screen and (max-width: 800px) {
    font-size: 2em;
    grid-template-rows: repeat(2, 0.5fr);
  }
  @media only screen and (max-width: screen-sizes.$sm) {
    font-size: 1.2em;
  }

  &__name {
    grid-column: 1 / span 2;
    padding: 20px;
    @media only screen and (max-width: 800px) {
      align-self: end;
      justify-content: center;
      text-align: center;
    }
  }

  &__text {
    grid-row: 2;
    grid-column: 1 / span 2;
    padding: 20px;

    @media only screen and (max-width: 900px) {
      grid-column-end: span 4;
    }
  }

  &__circle {
    background: linear-gradient(to bottom right, blue, pink);
    background-color: palette.$circle-fill;
    height: 10em;
    width: 10em;
    z-index: 2;
    border: 2px solid palette.$circle-border;
    grid-column: 3 / span 2;
    grid-row: 2 / span 2;
    border-radius: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

    @media only screen and (max-width: screen-sizes.$md) {
      height: 5em;
      width: 5em;
    }
    @media only screen and (max-width: 900px) {
      display: none;
    }

    &:hover {
      transform: scale(1.2);
    }

    &--smaller {
      filter: invert(1);

      position: absolute;
      height: 5em;
      width: 5em;
      margin: 50%;
      z-index: 1;
      @extend .landing__circle;
      grid-column: 3;
      grid-row: 2;

      @media only screen and (max-width: screen-sizes.$md) {
        display: none;
      }
    }
  }

  &__btn-container {
    grid-column: 1;
    grid-row: 4;
    display: flex;
  }
}
