@use "palette";

.navbar {
  &__list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    background-color: palette.$navbar-bg;
    color: palette.$navbar-text;
    margin: 0;
    padding: 20px;
    font-size: 1.5em;
    position: fixed;
    width: 100%;
    z-index: 10;
  }

  &__link {
    color: palette.$navbar-text;
    text-decoration: underline;
    &:visited {
      color: palette.$navbar-text;
      text-decoration: none;
    }
  }
}
