$navbar-bg: rgb(39, 39, 39);
$navbar-hover-bg: rgb(108, 108, 108);

$landing-bg: #171717;
$project-bg: rgb(231, 231, 231);

$heading: white;

$circle-fill: blue;
$circle-border: gold;

$heading-text: white;

$navbar-text: rgb(244, 244, 244);
