@use "palette";
@use "screen-sizes";

.project {
  display: grid;
  background-color: palette.$project-bg;
  gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  padding: 20px;
  font-size: 1.5em;

  @media only screen and (max-width: screen-sizes.$md) {
    display: flex;
    flex-wrap: wrap;

    &__heading {
      display: block;
    }
  }

  &__heading {
    font-size: 2em;
    padding: 20px;
    align-self: center;
  }
}

.card {
  padding: 20px;
  border: 1px solid black;
}

.norm {
  grid-column: 4 / span 2;
}

.paddy-cnc {
  grid-column: 6 / span 2;
}
