@use "palette";

.project {
  display: grid;
  background-color: palette.$project-bg;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);

  &__heading {
    padding: 20px;
  }

  &__container {
  }
}
