@use "palette";

.skills {
  border: 1px solid black;
  margin: 20px;
  font-size: 2em;

  &__header {
    text-align: center;
  }
}

.skills-list {
  display: flex;
  padding: 2em;
  margin: 2em;
  justify-content: space-around;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;

  &__item {
    min-width: 160px;
    text-align: center;
  }
}
