@use "landing";
@use "navbar";
@use "projects";
@use "skills";
@use "typography";
@use "about";
@use "contact";

body {
  font-family: typography.$text-font;
  margin: 0;
  padding: 0;
}

html {
  scroll-padding-top: 90px; /* height of sticky header */
}
